.container{
}

.jumbotron{
  background-color: #242424 !important;
  //border: 1px solid red !important;
  width:100% !important;
}

.jumbotron{
    opacity: .9;
    color: #fff;
    background: #000 url("http://www.siuecougars.com/sports/m-basebl/2016-17/photos/17042-183_redesignrotator.jpg");
    width: 100%;
    background-size: cover;
    z-index:1;
  border-radius: 0px !imporant;
}

.watch{
  border: 1px solid white
}

h1, p {
  color:white !important;
}

h1 > p{
  color:#009ed9 !important;
}

body{
  background-color: #151515 !important;
}

.col{
  //border: 1px solid red;
}

.container:nth-child(2){
  padding-top: 32px !important;
  color:#bababa;
}

#mlbtext, #mlbtitle{
  text-align: left
}

#mlbtitle > span{
  color:#044da1
}

#mlbtitle > span + span{
  color:#009ed9
}

.row:nth-child(2){
  padding-top: 32px !important;
  color:#044da1;
}

.row:nth-child(2) > a{
  border: 1px solid red;
  color:red;
}

#div2{
  padding-top: 32px;
}

#div3{
  padding-top: 64px !important;
}

#div4{
  padding-top: 64px;
}

#protext, #protitle{
  text-align: left
}

#protitle > span{
  color:#044da1
}

#protitle > span + span{
  color:#009ed9
}

.footer{
  margin-top: 64px;
  padding-top: 32px;
  padding-bottom: 32px !important;
  background-color: #d6d6d6;
  height: 100%;
  color:black;
}

#subtext{
  font-size: 10px;
}

.contact{
  background-color: #212121;
  color: white;
}

.footer {
  background: #061D25;
  padding: 64px 0;
}
.footer a {
  font-size: 20px;
  padding: 10px;
  border-right: 1px solid #70726F;
  transition: all .5s ease;
}
.footer a:first-child {
  border-left: 1px solid #70726F;
}
.footer a:hover {
  color: white;}

.img-responsive{
  padding:1px;
  margin:10px;
}