<!--START MODAL-->
<div class="modal" id="mymodal">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">Howto</h5>
        <button class="close" type="button" data-dismiss="modal" aria-label="Close">x</button></div>
        <div class="modal-body">
          <p>lorem ipsum dolor sit amet consectetur adipisicing elit sed do eiusmod tempor incididunt ut labore et dolore magna aliqua </p>
          <p>lorem ipsum dolor sit amet consectetur adipisicing elit sed do eiusmod tempor incididunt ut labore et dolore magna aliqua </p>
          <p>lorem ipsum dolor sit amet consectetur adipisicing elit sed do eiusmod tempor incididunt ut labore et dolore magna aliqua </p>
        </div>
        <div class="modal-footer">
        <a href="" data-dismiss="modal" class="btn btn-default">Close</a>
        <a href="" class="btn btn-primary">Download</a>
      </div>
    </div>
  </div></div>
<!--END MODAL-->